<form class="form" [formGroup]="form" (ngSubmit)="submit()">
  <div class="author">
    <label>
      <input class="small-input" formControlName="name" type="text" />
    </label>
    <div class="color">
      <label>
        Color:
        <span>
          <input class="small-input" size="7" formControlName="color" type="text" />
          <input [style.background-color]="form.get('color').value" class="small-input" size="1" disabled *ngIf="form.get('color').valid">
        </span>
      </label>
      <div class="color-preview"></div>
    </div>
  </div>
  <input
    class="big-input"
    placeholder="Write a message ..."
    formControlName="text"
    [value]="form.get('text').value | emoji"
  />
  <span [hidden]="form.valid"><h2 class="text-danger"> {{errorMessage}} </h2></span>
  <button class="submit-button" (click)="submit()" [disabled]="!form.valid">Submit</button>
</form>
