<div class="message" *ngIf="message.author !== undefined">
  <div class="header">
    <div class="author">
      <span [style.color]="message.author.color" >
        {{ message.author.name }}:
        </span>
    </div>
    <div class="time"> {{ message.timestamp | date: 'HH:mm:ss'}} </div>
  </div>
  <div class="text-wrapper">
    <div class="text"> {{ message.text | emoji}} </div>
    <div class="likes" (click)="like()">
      <i class="material-icons like-icon">thumb_up</i>
      <span class="likes-count">{{ message.likes }}</span>
    </div>
  </div>
</div>
<hr width="98%" *ngIf="message.author !== undefined">
