<div class="messages">
  <!-- TODO: list message components -->
  <span *ngIf="listOfMessages === null">
    Error: MessagesService doesnt return any messages
  </span>
  <app-message *ngFor="let item of listOfMessages | async trackBy: trackById "  [message]="item" (messageLiked)="sendLike($event)"></app-message>
</div>
